.sectionfour
  background-color #F1CD16
  margin 1rem 0
  padding 1rem
  font-family Muli

  &-form
    display flex
    flex-direction column

    &-input
      border-radius 15px
      font-size 2rem
      margin-bottom 5px
      border none

    &-textarea
      border-radius 15px
      font-size 2rem
      margin-bottom 5px
      border none

    &-button
      color white
      background-color #3A3A3C
      border none
      border-radius 8px
      max-width 6rem
      min-height 2.5rem
      margin-left 14rem
