.sectTwo
  margin-top 1rem
  display flex
  flex-direction column
  color #FAFAFA
  font-family Muli

  &-divOne
    background-color #B3C15D

    &-h1
      font-size 1.5rem
      font-weight normal
      text-align center
      margin-bottom 1rem

    &-divtext
      &-pict
        overflow hidden
        img
          display none
      &-ul
        margin 1rem 1rem 1rem 2rem
        li
          margin-bottom 0.5rem

  &-divTwo
    background-color #19BCBC
    margin-top 1rem


    &-h1
      width 100%
      text-align center
      margin-bottom 1rem
      font-size 1.5rem
      font-weight normal

    &-divtext
      display flex
      justify-content space-between

      &-ul
        margin 0 0 0 2rem
        font-size 1rem

        li
          margin-bottom 0.5rem

      &-picture
        overflow hidden
        max-width 240px
        min-height 110px
        margin-top 1rem

        img
          width 100%

@media (min-width 768px)
  .sectTwo
    display flex

    &-divOne
      margin 0 2rem 0 2rem

      &-h1
        text-align left
        margin 1rem 0 0 2rem
        font-size 2rem

      &-divtext
        display flex
        justify-content space-between

        &-ul
          order 1
          max-width 40%
          margin 1rem 0 0 2rem
          li
            margin-bottom 0.5rem

        &-pict
          overflow hidden
          order 2
          max-height 220px
          max-width: 360px

          img
            display block
            width 100%

    &-divTwo
      margin 1rem 2rem 0 2rem

      &-h1
        text-align left
        margin 1rem 0 0 2rem
        font-size 2rem

      &-divtext
        display flex
        justify-content space-between

        &-ul
          margin 1rem 0 0 4rem
          font-size 1.3rem
          li
            margin-bottom 1rem

        &-picture
          max-height 220px
          max-width  360px

@media (min-width 950px)
  .sectTwo
    display flex
    flex-direction row
    justify-content center

    &-divOne
      max-height 410px
      max-width 410px
      margin 0 1rem 0 0

      &-h1
        margin-bottom 1rem

      &-divtext
        display flex
        flex-direction column

        &-ul
          max-width 100%
          max-height 10px
          margin 1rem 0 7rem 2rem
          order 2

        &-pict
          max-width 410px
          max-height 160px
          order 1
          margin 0
          img
            max-width 100%

    &-divTwo
      max-height 410px
      min-width 410px
      margin 0

      &-divtext
        display flex
        flex-direction column

        &-picture
          max-width 410px
          max-height 191px
          img
            max-width 100%

@media (min-width 1100px)
  .sectTwo
    display flex
    flex-direction row
    justify-content center

    &-divOne
      max-height 270px
      min-width 550px
      margin 0 1rem 0 0

      &-h1
        margin 1rem 1rem

      &-divtext
        display flex
        flex-direction row

        &-ul
          max-width 300px
          margin 0 0 1rem 2rem
          order 2
          li
            margin-bottom 0.5rem

        &-pict
          max-width 300px
          max-height 180px
          order 1
          margin-top 1rem
          img
            max-width 100%
    &-divOne:hover
      background-color grey

    &-divTwo
      max-height 270px
      min-width 550px
      margin 0

      &-divtext
        display flex
        flex-direction row

        &-ul
          margin 1rem 0 0 2rem

        &-picture
          margin-top 1.3rem
