.secthree
  background-color #ED5A48
  font-family Muli
  color #FAFAFA
  padding 0
  margin-top 1rem

  &-h1
    font-size 1.5rem
    text-align center
    font-weight normal


  &-divtext
    display flex
    justify-content center

    a
      margin 1rem 0.5rem
      font-size 6rem

      i:hover
        color white

.fa-twitter-square
  color #558DC9

.fa-facebook-square
  color #3B68AB

.fa-instagram
  color #969696

@media (min-width 768px)

  .secthree
    margin 1rem 2rem 0 2rem

    &-h1
      font-size 2rem
      text-align left
      margin-left 2rem
      padding-top 1rem

    &-divtext
      display flex
      justify-content center

      a
        font-size 8rem


@media (min-width 900px)
  .secthree
    margin 1rem 6rem 0 6rem

    &-divtext
      display flex
      justify-content center

@media (min-width 1280px)
  .secthree
    margin 1rem 14rem 0 18.5rem
    max-height 160px

    &-h1
      margin-bottom 0

    &-divtext
      display flex
      justify-content center
      margin 0
      padding 0

      a
        font-size 4rem


@media (min-width 1366px)
  .secthree
    margin 1rem 14rem 0 18.5rem

    &-divtext
      display flex
      justify-content center
