.sectTwo
  margin-top 1rem
  display flex
  flex-direction column
  color #FAFAFA
  font-family Muli

  &-divOne
    background-color #B3C15D

    &-h1
      font-size 1.5rem
      font-weight normal
      text-align center
      margin-bottom 1rem

    &-divtext
      &-pict
        overflow hidden
        img
          display none
      &-ul
        margin 1rem 1rem 1rem 2rem
        li
          margin-bottom 0.5rem
          
  &-divOne:hover
    background-color grey

  &-divTwo
    background-color #19BCBC
    margin-top 1rem

    &-h1
      width 100%
      text-align center
      margin-bottom 1rem
      font-size 1.5rem
      font-weight normal

    &-divtext
      display flex
      justify-content space-between

      &-ul
        margin 0 0 0 2rem
        font-size 1rem

        li
          margin-bottom 0.5rem

      &-picture
        overflow hidden
        max-width 240px
        min-height 110px
        margin-top 1rem

        img
          width 100%
          
  &-divTwo:hover
      background-color grey
          
  &-hide
    height 0
    transition height .3s ease
    overflow hidden
    &--show
      height 180px
      background-color #899446
      p 
        margin 2rem 2rem 0 1rem
        font-size 1rem
        
  &-hidetwo
    height 0
    transition height .3s ease
    overflow hidden
    &--show
      height 180px
      background-color #178989
      p 
        margin 1rem 2rem 0 1rem
        font-size 0.9rem

@media (min-width 768px)
  .sectTwo
    display flex

    &-divOne
      margin 0 2rem 0 2rem

      &-h1
        text-align left
        margin 1rem 0 0 2rem
        font-size 2rem

      &-divtext
        display flex
        justify-content space-between

        &-ul
          order 1
          max-width 40%
          margin 1rem 0 0 2rem
          li
            margin-bottom 0.5rem

        &-pict
          overflow hidden
          order 2
          max-height 220px
          max-width: 360px

          img
            display block
            width 100% 

    &-divTwo
      margin 1rem 2rem 0 2rem

      &-h1
        text-align left
        margin 1rem 0 0 2rem
        font-size 2rem

      &-divtext
        display flex
        justify-content space-between

        &-ul
          margin 1rem 0 0 4rem
          font-size 1.3rem
          li
            margin-bottom 1rem

        &-picture
          max-height 220px
          max-width  360px
          
    &-hide
      &--show
        margin 0 2rem 0 2rem
        height 100px
      
    &-hidetwo
      &--show
        margin 0 2rem 0 2rem
        height 100px
        font-size 1rem

         

     

@media (min-width 1100px)
  .sectTwo
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content center

    &-divOne
      max-height 410px
      max-width 445px
      margin 0 1rem 0 0
      order 1

      &-h1
        margin-bottom 1rem

      &-divtext
        display flex
        flex-direction column

        &-ul
          max-width 100%
          max-height 10px
          margin 1rem 0 7rem 2rem
          order 2

        &-pict
          max-width 445px
          max-height 160px
          order 1
          margin 0
          img
            max-width 100%
      
    &-hide
      &--show
        max-width 445px
        height 150px
        order 3
        margin 0
        margin-left 6rem
        margin-right auto
        p 
          margin 1rem 2rem 0 1rem    

    &-divTwo
      max-height 410px
      min-width 445px
      margin 0 2rem 0 0
      order 2

      &-divtext
        display flex
        flex-direction column

        &-picture
          max-width 450px
          max-height 191px
          img
            max-width 100%
            
    &-hidetwo
      &--show
        max-width 445px
        height 150px
        order 4 
        margin-left auto
        margin-right 98px 


@media (min-width 1200px)
  .sectTwo
    display flex
    flex-direction row
    justify-content center
    

    &-divOne
      max-height 270px
      min-width 550px
      margin 0 1rem 0 0
      order 1

      &-h1
        margin 1rem 1rem

      &-divtext
        display flex
        flex-direction row

        &-ul
          max-width 300px
          margin 0 0 1rem 2rem
          order 2
          li
            margin-bottom 0.5rem

        &-pict
          max-width 300px
          max-height 180px
          order 1
          margin-top 1rem
          img
            max-width 100%
            
    &-hide        
      &--show
        min-width 550px
        margin 0 
        margin-left 1rem
        margin-right auto
        order 3

    &-divTwo
      max-height 270px
      max-width 550px
      margin 0
      order 2

      &-divtext
        display flex
        flex-direction row

        &-ul
          margin 1rem 0 0 2rem

        &-picture
          margin-top 1.3rem
          
    &-hidetwo
      &--show
        max-width 550px
        margin 0
        margin-left auto
        margin-right 1rem
        order 4
      
