.sectOne
  margin-top 4rem
  display flex
  flex-direction column
  background-color #5B7785
  color #FAFAFA
  font-family Muli

  &-picture
    max-width 400px
    max-height 400px
    overflow hidden
    margin 0 auto
    img
      width 100%

  &-content
    margin  0 1rem

    &-h1
      font-weight normal
      font-size 2rem

    &-p
      font-size 1rem

  &-contentwo
        display none

@media (min-width 768px)
  .sectOne
    display flex
    flex-direction row
    margin-top 5rem
    justify-content space-between

    &-picture
      order 2
      max-width 400px
      max-height 400px
      overflow hidden
      margin 2rem 0 0 1rem
      img
        max-width 100%

    &-content
      order 1
      margin 0 0 0 3rem
      &-h1
        margin-top 1rem
      &-p
        max-width 300px

@media (min-width 1000px)
  .sectOne
    display flex
    margin-top 5rem
    max-height 242px
    justify-content space-between


    &-picture
      order 2
      margin 1rem 2rem 0 0
      overflow hidden
      max-width 350px
      height 350px

      img
        max-width 100%

    &-content
      order 1
      margin 0 0 0 5rem
      &-p
          max-width 550px

@media (min-width 1280px)
  .sectOne
    display flex
    flex-direction row

    &-picture
      order 2
      margin 1rem 0 0 0
      overflow hidden
      img
        max-width 100%

    &-content
      order 1
      margin 0 0 0 1rem
      max-width 25rem

    &-contentwo
        background-color: #4D80BC
        order 3
        display block
        max-width 30rem
        padding 1rem 1rem 1rem 1rem
        border-left solid 0.5rem rgb(76, 76, 76)

        &-h1
          font-weight normal
          font-size 2rem
