.header
  background-color #FAFAFA
  height 64px
  position fixed
  top 0
  left 0
  width 100%
  z-index 10
  line-height 64px
  opacity 0.9

  &-mobile
    display flex
    justify-content space-between

  &-logo
    margin 0.5rem 0 0 1rem
    height 4rem
    width  11em
    order 1

  &-button-nav
    margin-right 8px
    font-size 25px
    color #5E7785
    padding 0
    border 0
    border-radius 5px
    background-color #FAFAFA
    order 2

  &-menu-navbar
    background-color #FAFAFA

  &-menu-list
    list-style-type: none
    height 0
    overflow hidden
    transition height .3s ease


    &--show
        height 430px

    &-item

      a
        text-decoration none
        color black
        width 100%
        padding 0.5rem
        display block

@media (min-width 768px)
  .header
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content space-between
    height 80px
    transition all .3s ease
    line-height 80px

    &-logo
      margin-left 3rem

    &-button-nav
      display none

    &-menu-list
      height 80px
      margin-right 0.5rem

      &-item
        display inline-block

        a
          padding 0 0.4em


        a:hover
          color grey
