.header
  background-color rgb(76, 76, 76)
  height 64px
  position fixed
  top 0
  left 0
  width 100%
  z-index 10
  line-height 64px
  opacity 0.9

  &-mobile
    display flex
    justify-content space-between

  img
    margin 0.2rem 1rem
    order 1
    height 55px
    width 140px

  &-button-nav
    margin-right 8px
    font-size 30px
    color #4D80BC
    padding 0
    border 0
    border-radius 5px
    background-color rgb(76, 76, 76)
    order 2

  &-menu-navbar
    background-color rgb(76, 76, 76)

  &-menu-list
    list-style-type: none
    height 0
    overflow hidden
    transition height .3s ease

    &--show
        height 320px

    &-item
      a
        text-decoration none
        color white
        width 100%
        padding 0.5rem
        display block

@media (min-width 480px)
  .header
    &-menu-list
      &--show
          height 250px
      &-item
        a
          padding 0 0 0 1rem

@media (min-width 768px)
  .header
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content space-between
    height 80px
    transition all .3s ease
    line-height 80px

    &-mobile
      img
        margin-top 0.5rem
        max-height 70px
        max-width 160px

    &-button-nav
      display none

    &-menu-list
      height 80px
      margin-right 3rem

      &-item
        display inline-block

        a
          padding 0 0.4em

        a:hover
          color grey
