@import './header.styl'
@import './normalize.css'
@import './reset'
@import './foot'
@import './content'
@import './contentwo'
@import './contenthree'
@import './contetfour'
@import './spinner.css'

body
  background-color rgb(76, 76, 76)
  font-size 16px
