@import './header.styl'
@import './normalize.css'
@import './reset'
@import './foot'
@import './content'
@import './contentwo'
@import './contenthree'
@import './contetfour'

body
  background-color #FFFFFF
  font-size 16px
